.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: aquamarine;
  justify-content: center;
  align-items: center;
}
.brand-container {
  display: flex;
  justify-content: space-evenly;
  width: 25vw;
}
.brand-name {
  font-size: 50px;
  font-family: "Courier New", Courier, monospace;
  color: rgb(236, 129, 129);
}
.brand-bank {
  font-size: 50px;
  font-family: "Courier New", Courier, monospace;
}
form {
  display: flex;
  align-self: center;
}
.logon-container {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 25vw;
  height: 30vh;
  border-radius: 15px;
  border-width: 1px;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.2);
  align-items: center;
}

a {
  color: black;
}
