.profile-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: aquamarine;
  align-items: center;
}
.header {
  margin-top: 1%;
  display: flex;
  width: 90%;
  background-color: rgb(209, 232, 253);
  height: 10vh;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
}
.brandWidth {
  display: flex;
  width: 40vw;
}
.features {
  display: flex;
  width: 33vw;
  justify-content: space-evenly;
}

.profileWidth {
  display: flex;
  width: 10vw;
  justify-content: flex-end;
}
.card-container {
  display: flex;
  background-color: rgb(209, 232, 253);
  width: 30vw;
  height: 25vh;
  margin-top: 30px;
  border-radius: 20px;
  align-items: center;
}
